ion-toolbar {
    --background: #f9f9f9;
    height: 25px !important;
}

ion-button.basic-icon {
    margin-right: -4px !important;
}

ion-button.basic-icon {
    --padding-start: 6px !important;
    --padding-end: 0!important;
}

ion-button.basic-icon ion-icon{
    font-size: 1.2em !important;
    margin-top: -.1em !important;
}

ion-buttons {
    margin-top: -30px !important;
    --min-height: 25px !important;
    height: 25px !important;
}

ion-button {
    height: 25px !important;
}

.battery-life {
    font-size: 12px;
    -webkit-background-clip: text;
    color: transparent;
}